main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.color-display {
  aspect-ratio: 8/1;
  border-radius: 1rem;
}
