<main class="container mx-auto">
  <input type="checkbox" />
  <div class="grid">
    <div class="input-group">
      <label>Start Color</label>
      <div>
        <input
          type="text"
          [formControl]="startHex"
          (keyup)="
            startHex.setValue(sanitizeHexColor(startHex.value));
            startColor.fromHex(startHex.value ? startHex.value : '');
            updateLinearGradient()
          "
          name="startColor"
          placeholder="start color"
        />
        <button><ng-icon name="ionColorPalette"></ng-icon></button>
      </div>
    </div>

    <div class="input-group">
      <label>End Color</label>
      <div>
        <input
          type="text"
          [formControl]="endHex"
          (keyup)="
            endHex.setValue(sanitizeHexColor(endHex.value));
            endColor.fromHex(endHex.value ? endHex.value : '');
            updateLinearGradient()
          "
          name="endColor"
          placeholder="end color"
        />
        <ng-icon name="ionColorPalette"></ng-icon>
      </div>
    </div>
  </div>
  <div class="color-display">
    <div [style.background]="startHex.value"></div>
    <div [ngStyle]="{ background: updateLinearGradient() }"></div>
    <div [style.background]="endHex.value"></div>
  </div>
</main>
