<main class="container mx-auto">
  <div class="checkbox-group">
    <input
      type="checkbox"
      [checked]="smoothLinearGradient"
      (change)="
        smoothLinearGradient = !smoothLinearGradient; updateLinearGradient()
      "
    />
    <span>smooth linear gradient</span>
  </div>

  <div class="grid">
    <div class="input-group">
      <label>Start Color</label>
      <div>
        <input
          type="text"
          [formControl]="startHex"
          (keyup)="
            startHex.setValue(sanitizeHexColor(startHex.value));
            startColor.fromHex(startHex.value ? startHex.value : '');
            updateLinearGradient()
          "
          name="startColor"
          placeholder="start color"
        />
        <button (click)="copyToClipBoard(startHex.value)" title="copy">
          <ng-icon name="ionColorPalette"></ng-icon>
        </button>
      </div>
    </div>

    <div class="input-group">
      <label>End Color</label>
      <div>
        <input
          type="text"
          [formControl]="endHex"
          (keyup)="
            endHex.setValue(sanitizeHexColor(endHex.value));
            endColor.fromHex(endHex.value ? endHex.value : '');
            updateLinearGradient()
          "
          name="endColor"
          placeholder="end color"
        />
        <button (click)="copyToClipBoard(endHex.value)" title="copy">
          <ng-icon name="ionColorPalette"></ng-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="color-display">
    <div [style.background]="startHex.value"></div>
    <div
      [ngStyle]="{
        background: linearGradient
      }"
    ></div>
    <div [style.background]="endHex.value"></div>
  </div>
  <app-code-card [code]="linearGradient" header="css code"></app-code-card>
</main>
